/* src/components/Homepage/HomePage.css */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f0f0f0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
  cursor: pointer;
}

.block:nth-child(2) {
  animation-delay: 0.5s;
}

.block:nth-child(3) {
  animation-delay: 1s;
}

.block:hover .solar-image {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.solar-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.quote {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  max-width: 400px;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Footer Styles */
.footer {
  margin-top: 40px;
  padding: 20px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  color: #ffc107;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-content a:hover {
  color: #ffd54f;
}
