/* src/components/UserDashboard/UserDashboard.css */

.user-dashboard-container {
    text-align: center;
    padding: 20px;
  }
  
  .user-dashboard-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .chart-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f6f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .chart-container canvas {
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      width: 95%;
    }
  }
  